* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(253, 249, 243);
    position: sticky;
    top: 0;
    z-index: 1;
}

ul {
    display: flex;
    list-style: none;
    overflow: hidden;
    margin-left: 30px;
    height: 100px;
    align-items: center;

}

li {
    float: left;
    margin: 30px 10px;
}

a {
    text-decoration: none;
    color: rgb(188, 122, 114);
    font-size: 16px;
    /* font-weight: bold; */
    margin: 8px;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    color: black;
    transition: 0.8s;
}

.iconhed {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    top: 30px;
    right: 40px;
}

.iconheading {
    padding: 10px;
}

.imghead {
    margin-top: 15px;
    position: absolute;
    top: 0;
    margin-left: 45%;

}

.banner img {
    width: 100%;
    height: 680px;
}

.hadding p {
    position: absolute;
    font-family: 'Lobster', sans-serif;
    font-size: 70px;
    font-weight: bolder;
    color: black;
    top: 0;
    top: 465px;
    left: 126px;
}

.hadding1 p {
    position: absolute;
    font-family: 'Lobster', sans-serif;
    font-size: 70px;
    color: black;
    top: 0;
    top: 550px;
    left: 90px;
}

.hadding2 P {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: rgb(151, 129, 0);
    font-weight: 900;
    top: 0;
    top: 650px;
    left: 186px;
}

.hadding2 P:hover {
    /* color: black; */
    color: rgb(116, 99, 0);
    transition: 0.6s;
    transition-delay: 0.2s;

}

#Arrivals {
    max-width: 1380px;
    margin: auto;
}

.Arrivals h1 {
    font-family: "Carter Sans W01 Regular";
    color: rgb(188, 122, 114);
    justify-content: center;
    display: flex;
    margin-top: 70px;
    /* color: rgb(151, 129, 0); */

}

.arrivalsimg {
    display: flex;
    /* max-width: 1280px; */
    /* margin: auto; */
    /* justify   */
    margin-top:50px;

}

.arrivalsimgg {
    display: flex;
    /* max-width: 1280px; */
    /* margin: auto; */
    /* justify   */
    margin-top: 50px;

}

.arrivalsimg h5 {
    margin-top: 10px;
    text-align: center;
    color: #B7827CA6;

}

.arrivalsimgg h5 {
    margin-top: 10px;
    text-align: center;
    color: #B7827CA6;

}

.arrivalsimg p {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #ca6e64a6;

}

.arrivalsimgg p {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #ca6e64a6;

}


.imgzoom {
    margin: 0 10px;
}

.lk,
img {
    border-radius: 10px;
    overflow: hidden;
}

.arrivalsimg img {
    min-height: 480px;
    width: 330px;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
}

.arrivalsimgg img {
    min-height: 480px;
    width: 330px;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
}

.arrivalsimg img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    transition-delay: 0.2s;

}

.arrivalsimgg img:hover {
    transform: scale(1.1);
    filter: grayscale(0%);
    transition-delay: 0.2s;


}

.bittonzom button {
    background-color: #b7827cc1;
    border: none;
    height: 40px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    width: 120px;
    font-weight: bold;
}

.bittonzom button:hover {
    background-color: #b7827c;
    letter-spacing: 1px;
    transition: 0.9s;


}

.bittonzom {
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.imgzoooom p {
    font-size: 16px;
    color: #b7827c;
}

.salegrat {
    max-width: 1380px;
    margin: auto;
    margin-top: 70px;
}

.hadding70 p {
    color: #b7827ce4;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}

.hadding60 p {
    color: #b7827ce4;
    font-size: 28px;
    text-align: center;
}

.k {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;

}

.l img {
    /* margin: 10px; */
    width: 310px
}

.outer {
    position: relative;
}

.iner {
    position: absolute;
    top: 0;
    display: none;
}


.outer:hover .iner {
    display: block;
    transition: 0.8s
}


.l .twotaxtff p {
    margin-top: 17px;
    text-align: center;
    color: #b7827c;
    font-size: 16px;

}

.l p {
    margin-top: 10px;
    text-align: center;
    color: #ff1900;

}

.twotaxt {
    display: flex;
    justify-content: center;


}

.twotaxt1 del,
p {
    color: #B7827CA6;

}

.twotaxt p {
    margin: 10px;
    text-align: center;
}

.bittongal {
    text-align: center;
}

.bittongal button {
    margin-top: 50px;
    background-color: #b7827cc1;
    border: none;
    height: 40px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    width: 120px;
    font-weight: bold;
}

.bittongal button:hover {
    background-color: #b7827c;
    letter-spacing: 1px;
    transition: 0.9s;

}

.inerlable {
    height: 25px;
    width: 110px;
    background-color: #ff1900;
    border-radius: 4px;
    position: absolute;
    top: 0;
    margin: 10px;
}

.inerlable p {
    position: absolute;
    color: white;
    font-size: 13px;
    font-weight: bold;
    bottom: 4px;
    margin-left: 8px;

}

.verayti {
    max-width: 1380px;
    margin: auto;
}

.verayti1 {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.veraytitaxt {
    margin: 20px;
    display: flex;
    color: #b7827c;

}

.veraytitaxt1 {
    margin: 20px;
    color: #b7827c;
}


.veraytitaxt h1 {
    border-bottom: 1px solid #b7827c;

}

.QuickLinks {
    max-width: 1380px;
    margin: auto;
}


.Quickhadding h1 {
    font-family: "Carter Sans W01 Regular";
    color: rgb(188, 122, 114);
    justify-content: center;
    display: flex;
    margin-top: 70px;
}

.imghk {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.imghk img {
        margin: 0 10px;
    width: 260px;
    height: 370px;
}

.quickp1 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.quickp2 {
    display: flex;
    justify-content: center;
}

.quickp2 p {
    margin-top: 14px;
    border-bottom: 1px solid #b7827c;
    font-family: "Carter Sans W01 Regular";

}

.quickp1 p {
    font-size: 22px;
    font-weight: 500;
    font-family: "Carter Sans W01 Regular";

}

.imghk2 {
    display: flex;
    /* justify-content: center; */
    margin-top: 40px;
}

.imgkhjk{
    max-width: 1380px;
    margin: auto;
}

.imghk2 img {
    margin-right: 20px;
    width: 260px;
    height: 370px;
}

.zz img{
    width: 440px;
    height: 610px;
}

.zz{
    display: flex;
    justify-content: center;
}

.hh{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 100px;

}


.hho{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 40px;

}

.mainimg{
    max-width: 1380px;
    margin: auto;
    margin-top: 100px;
}

.vv{
    position: absolute;
    bottom: 30px;
}
.vv p{
    margin-bottom: 18px ;
}

.vv button {
    background-color: #b7827c;
    border: none;
    height: 40px;
    border-radius: 2px;
    color: white;
    font-size: 14px;
    width: 120px;
    font-weight: bold;
}

.vv button:hover {
    background-color: #b7827cd0;
    letter-spacing: 1px;
    transition: 0.9s;

}


.vv p{
    color: white;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.footer1{
    background-color: #b7827cb5;
}

.footer2{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin-top: 100px;
    
}

.footer2 p{
   color: black;
   line-height: 25px;
}

.footer2 p:hover{
    color: white;
    transition: 0.5s;
 }

.button{
    background-color: white;
    height: 40px;
    width: 200px;
    border: 1px solid black;

}

.button p{
  color: rgb(143, 143, 143);
  margin-top: 6px;
  margin-left: 10px;

}















